/* 
gunmetal 2c363f
blush e75a7c
ivory f2f5ea
middle blue 92dce5
gray(web) 7c7c7c
*/

.repo-card {
	padding: 20px 35px 20px 35px;

	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #2c363f;
	border-radius: 20px;
	color: #f2f5ea;

	width: 20vw;
	/* height: 10vh; */
	font-size: 1.2em;
	line-height: 1em;
}

.repo-card a {
	text-decoration: none;
	color: #f2f5ea;
}

.timeline div:nth-child(odd) {
	align-items: flex-start;
	text-align: left;
}

.timeline div:nth-child(even) {
	transform: translateX(-25vw);
	align-items: flex-end;
	text-align: right;
}

.timeline div:nth-child(odd)::before {
	content: " ";
	position: absolute;
	/* top: 0; */
	left: 0;
	width: 20px;
	height: 100vh;
	background-color: black;
}

.timeline div:nth-child(even)::before {
	content: " ";
	position: absolute;
	right: 0;
	width: 20px;
	height: 100vh;
	background-color: black;
}

.timeline div:nth-child(odd)::after {
	content: " ";
	position: absolute;
	left: 0;
	border-top: 2vw solid transparent;
	border-bottom: 2vw solid transparent;

	border-left: 2vw solid black;
}

.timeline div:nth-child(even)::after {
	content: " ";
	position: absolute;
	right: 0;
	border-top: 2vw solid transparent;
	border-bottom: 2vw solid transparent;

	border-right: 2vw solid black;
}
