/* 
gunmetal 2c363f
blush e75a7c
ivory f2f5ea
middle blue 92dce5
gray(web) 7c7c7c
*/

body {
	background-color: #2c363f;
	height: 2000px;
}

.App h1 {
	text-align: center;
	color: #f2f5ea;
	font-size: 3em;
	margin: 5px;
}

.username {
	text-align: center;
	color: #f2f5ea;
	font-size: 2.5em;
	margin: 5px 0 25px 0;
}

.user-form {
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-form input {
	border: none;
	border-radius: 20px;
	font-size: 2em;
	padding: 10px;
	margin: 5px;
}

.user-form button {
	font-size: 1.5em;
	padding: 10px;
	margin: 5px;
	border-radius: 20px;
	border: none;
	background-color: #e43961;
	transition-duration: 0.2s;
	color: #f2f5ea;
}
.user-form button:hover {
	background-color: #b53b58;
}
